* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: white;
}



.container {
  
  background: #eee;
  display: flex;

  justify-content: center;
}

.box {
  width: 50%;
  background: white;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.logo img {
  width: 200px;
}

.heading h1 {
  margin-top: 20px;
  font-weight: 800;
  opacity: 0.6;
}

.first-box-line {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.fb-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fb-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input-box input {
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 4px 10px;
}

.input-box p {
  font-size: 14px;
  font-weight: 600;
}

.ib2 {
  margin-top: 20px;
}

.state {
  margin-top: 10px;
}

.state span {
  color: rgb(236, 28, 28);
}

.inpu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: white;
  background: rgb(224, 34, 34);
  border: none;
  border-radius: 5px;
}

.grace {
  margin-top: 10px;
}



.success {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.s-details h1 {
  line-height: 40px;
}
.s-details span {
  color: rgb(16, 190, 16);
  font-size: 30px;
  margin-top: 15px;
}

.s-details p {
  margin-bottom: 100px;
}

.red {
  color: red;
}

.box h1 {
  color: purple;
  font-size: 50px;
  margin-bottom: 10px;
}

.box h3 {
 opacity: 0.8;
 font-weight: 400;
}
.pop {
  text-align: center;
}

.box h2 {
  text-align: center;
  line-height: 35px;
  margin-top: 100px;
}

.duo {
  display: flex;
  justify-content: space-between;
 
}

.duo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.duo2 img {
  width: 50px;

}

.card-input {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  
}

.card-input p {
  color: grey;
  font-size: 20px;
}

.split {
  display: flex;
  gap: 1rem;
}

.card-input input {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid purple;
  border-radius: 5px;
  font-size: 17px;
}

.pass-input {
  margin-top: 50px;
  border: 1px solid black;
  height: 70px;
  font-size: 35px;
  text-align: center;
}

.card-input p {
  margin-bottom: 10px;
}

.check {
  background-color: purple;
  border: none;
  height: 60px;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 50px;
}

.put1 {
  margin-top: 20px;
}

.over {
  margin-top: 30px;
}
@media screen and (max-width: 1000px){
      .box {
        width: 100%;
        padding: 30px 30px;
        
      }

      .first-box-line {
        display: flex;
        gap: 2rem;
        margin-top: 20px;
        flex-direction: column;
      }

      body {
        background: white;
      }
}